<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
 <!-- <appSettings>
    <add key="ServerKey" value="AAAAW6UTX4M:APA91bFTPPT7qvSC5VyR854TRyTtzXVuSnG8V8zTu6t3mJnOhhApExR2Qphfgnue0dka3eDWh3RPPkHu6elE9GCUox-ffclJbGGS1EoedUtuetyP4Y0vRuMjlcVSOWo2K5vTrHDsrwZU"/>
    <add key="DeviceId" value="36685B2344AB960C"/>
    <add key="SenderId" value ="393611534211"/>
    <add key="RequestTimeOut" value="30"/>  
   
  </appSettings>
  -->
</configuration>